{% include "header.html" %}

<!-- Page Header -->
<header class="masthead" style="background-image: url('/static/img/business-2648052_1280.jpg')">
    <div class="overlay"></div>
    <div class="container ">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>About Me</h1>
                    <span class="subheading">This is what I do.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p>
                Hey there :) My name is <strong>Evgeny Bershadsky</strong>. I am a self-taught developer. My story with programing is long, It begins at the age of Ten approximately. My father bought me a computer and told me to assmble it by myself,
                We are talking about 1995 the time's that you had Norton-Commander or Windows 3.11 :) the Windows 95 just released and was too expensive. i learned all the Dos commands and felt great as a kid i was conquering the world :) .
            </p>

            <p>
                My father really wanted me to get into the world of computers, He gave me the first book of Pascal which i studied, as a kid i did not really understood the how and why im doing what im doing. Still it was a good practice for me for later years. After
                Pascal i studied C++ and Basic. as a kid i never found a real use for the knowledge I got. I never been exposed to Html and web development which i think is the best for a kid to learn. The reason i think so is becausethe immediate sense
                of achievment.
            </p>

            <p><strong> Roaring 20's -</strong> long story short I found my self hating computers. Along side with computers I studied music and classical guitar. As an ambitious twenty yeas old I wanted to build a business and tried my way in the business
                world. After few bad attempts i decided to turn to something more solid and more of my area of expertise, I turned to music :) . I became a classical guitar music teacher and preformer. I was teahing many kids and adults learned alot from
                them too :) so most of my 20's I was a teacher and preformer.

            </p>

            <p><strong>Current day -</strong> During covid-19 my amazing wife told me that there is a free Python course online and asked if I'm intrested, I thought to my self well... why not :) . I joined the course and with my past expirience I realized
                that the free course is not serious and decided to find more serious course. I took a bootcamp course of 100 days on Udemy.com. During the course i built alot of small and big programs, console programs and desktop programs. I learned
                alot with the course and decided to take it a step further and joined Python releted groups and read as much documentation as i could. I decided to go more web oriented development and soon realized that I must study CSS HTML Javascript
                so i have studied and still studying. I'm building web scrapers and web apps with Python Flask as the back-bone this site uses POSTGESQL and running on Heroku. More about the programs or sites that i built and currently building will be
                posted. <strong> :) nice to meet you enjoy the site (:</strong>
            </p>
        </div>
    </div>
</div>

<hr> {% include "footer.html" %}